[submodule "gis/PostgREST"]
	path = gis/PostgREST
	url = https://github.com/frederiksberg/PostgREST
[submodule "meta/monitor/src"]
	path = meta/monitor/src
	url = https://github.com/frederiksberg/monitoring-master
[submodule "iot/vejrapi"]
	path = iot/vejrapi
	url = https://github.com/frederiksberg/VejrAPI
