[submodule "meta/monitor/src"]
	path = meta/monitor/src
	url = https://github.com/frederiksberg/monitoring-master
[submodule "iot/vejrapi"]
	path = iot/vejrapi
	url = https://github.com/frederiksberg/VejrAPI
[submodule "meta/nikto"]
	path = meta/nikto
	rl = https://github.com/frederiksberg/niktodeployment
[submodule "proxy/modsec_monitor"]
	path = proxy/modsec_monitor
	url = https://github.com/frederiksberg/modsec_monitor
